@import url(reset.css);
body{background:url(../images/background.png) repeat-x;width:1024px;height:1080px;margin:auto}
#main {width:1024px;height:1080px;background:url(../images/body-background.jpg) no-repeat;margin:0 auto;}
#prize-holder {position:relative;top:80px;left:370px;font-family: 'Oswald', sans-serif;z-index:9999;color:#FFF;font-size:29px;font-style:italic;font-weight:bold;}
#button{position:relative;top:522px;left:0px;}
